*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
/* main section */
.about-us{
    display: flex;
    position: relative;
    justify-content:space-around;
    padding-bottom: 3%;
    align-items: center;
    width:100%;
    min-height:100vh;
    background-color: #fff;
background-image: url("MHPRED3.svg");
/* background-attachment: fixed; */
background-repeat:repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
}
.about-us:before{
  content:"Knowledge Center";
  width: 100%;
  font-weight: 700;
  font-size: 4rem;
  color: #065446;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  margin-top: 6%;
  margin-bottom: 6%;
}
/* main subdivs or cards */
.pricing{
    width:35%;
    /* height:20vh; */
    margin:2% 4% 2%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF6242;
  box-shadow: -30px -30px 20px rgba(0, 0, 0, 0.5);
    border-radius: 2%;
}
.wwdwyw{
    width:35%;
    /* height:20vh; */
    margin:2% 4% 2%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFDC09;
    box-shadow: -30px -30px 20px rgba(0, 0, 0, 0.5);
      border-radius: 2%;
    }
 .commodities{
        width:35%;
        /* height:20vh; */
        margin:2% 4% 2%;
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        background-color: #fadcac;
        box-shadow: -30px -30px 20px rgba(0, 0, 0, 0.5);
          border-radius: 2%;
    }
    /* images of cards */
.pricing_img{
    width:350px;
}
.commodities_img{
    width:350px;
}
.wwdwyw_img{
    width:350px;
}
/* everything about dropdown and its contents,same used in all cards ,second main part after imgs */
.accordion{
    position: relative;
    width: 100%;
    height: 38px;
    margin-top: 5%;
    align-items: center;

}
.accordion h1{
    color:#fff;
    font-size: 1.3rem;
    background-color: #065446;
      border-radius: 2%;
    /* width:100%; */
    padding:2%;
}
.accordion h1:before{
    content: '\002B';
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
    position: absolute;
    top:20%;
    /* transform: translateY(-110%); */
    right:0.8rem;
}
.accordion p{
  font-size: 1rem;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    text-align: center;
    background:#197163;
    color: #fadcac;
    height:0;
    transition:0.5s;
    margin-bottom: 0;
}
.accordion.down p{
 height: 180px;
 padding: 1%;
}
.accordion.down h1:before{
    content: "\2212";
    transition:0.5s;
}
/* media queries */
@media screen and (max-width:1024px){
        .about-us{
            flex-wrap: wrap;
        }
        .accordion h1{
            fon
        }
    }
@media screen and (max-width:768px){
        .about-us{
        flex-direction: column;
        flex-wrap: wrap;
        }
        .about-us:before{
          content:"Knowledge Center";
          width: 100%;
          font-weight: 700;
          font-size: 2rem;
          color: #065446;
          opacity: 1;
          position: absolute;
          top: 0;
          left: 0;
          text-align: center;
          margin-top: 0;
          margin-bottom: 6%;
        }
        .about-us img{
            width:150px;
        }
        .pricing{
            width:70%;
            margin:16% auto 5% auto;
            text-align: center;
        }
        .commodities{
            width:70%;
            margin:10% auto 5% auto;
            text-align: center;
        }
        .wwdwyw{
            width:70%;
            margin:10% auto 5% auto;
            text-align: center;
        }
        .about-us h1{
            font-size: 0.8rem;
            margin-bottom: 0;
        }
        .accordion h1:before{
            font-size: 0.8rem;
           }
        .down h1:before{
            font-size: 0.8rem;
            top:3%;
        }
        .accordion{
            height: auto;
        }
    }
