* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Poppins', sans-serif;
  }
  .contact-us{
    padding: 10% auto;
    background-color: #fadcac;
background-image: url("MHPRED4.svg");
/* background-attachment: fixed; */
background-repeat:repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
  }
  .con-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1200px){
.con-container {
    max-width: 1140px;
}
}
@media (min-width: 992px){
.con-container {
    max-width: 960px;
}
}
@media (min-width: 768px){
.con-container {
    max-width: 720px;
}
}
@media (min-width: 576px){
.con-container {
    max-width: 540px;
}
}
.contact-header h3 {
    font-size: 3rem;
  color:#065446;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin: 0 0 20px 0;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.contact-header h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.contact-header h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 9px;
    background: #FF6242;
    bottom: 0;
    left: calc(50% - 20px);
}
.contact-header p {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 30px;
    color: #065446;
    margin: 30px 0 30px 0;
}
.contact-row {
    width:100%;
    margin-bottom: 10%;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }
@media screen and (max-width:1024px){
    .contact-row {
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .cr-column{
        margin:5% auto;
    }
}
@media screen and (max-width:768px){
    .contact-row {
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .cr-column{
        margin:5% auto;
    }
}
.cr-column{
  width:30%;
    margin:auto 3% auto 3%;
}
form {
    /* border: 1px solid #c6c7cc;
    border-radius: 5px; */
    font: 14px/1.4;
    font-size: 1.2rem;
    overflow: hidden;
    max-width: 100%;
  }
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  input {
    border-radius: 5px;
    font: 14px/1.4;
    margin: 0;
  }
  .account-info {
    padding: 20px 20px 0 20px;
  }
  .account-info label {
    color: #158467;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .account-info input {
    background: #fff;
    border: 1px solid #c6c7cc;
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    color: #636466;
    padding: 6px;
    margin-top: 6px;
    width: 100%;
  }
text-area {
    background: #fff;
    border: 1px solid #c6c7cc;
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    color: #636466;
    padding: 6px;
    margin-top: 6px;
    width: 100%;
    height: 100px;
    resize: none;
    display: block;
  }
  .account-action {
    /* background: #f0f0f2; */
    /* border-top: 1px solid #c6c7cc; */
    padding: 20px;
  }
  .account-action .btn {
    background: linear-gradient(#158467, #065446);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    float: left;
    padding: 8px 16px;
  }
  .account-action label {
    color:#065446;
    font-size: 1.3rem;
    /* float: left; */
    margin: 5% auto 5%;
    /* display: block; */
  }
