* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
.back-home{
position: relative;
overflow:hidden;
overflow-x: hidden;
background:url(MHPRED.svg);
/* background-attachment: fixed; */
background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
background-color: #E4E7EB;
}
.bslide{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: -1;
}
/* .bslide.bslide1{
    overflow-x: hidden;
  background:url(Backredivivus_4.svg);
  background-attachment: fixed;
  background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
background-color: #E4E7EB;
}
.bslide.bslide2{
    overflow-x: hidden;
  background:url(Backredivivus_4.svg);
  background-attachment: fixed;
  background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
background-color: #000;
} */

/* navbar */
/* navbar right side */
.navbar {
  height: 12vh;
  background-color: transparent;
  width: 100%;
  position: relative;
  display: flex;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  list-style: none;
  width: 50%;
  height: 100%;
  margin-left: auto;
}

.nav-links li {
  text-align: center;
  list-style: none;
  width: 15%;
  margin-left: 2%;
  background: #fadcac;
  border: 0.125rem solid black;
  border-radius: 1rem;
}

.nav-links li:hover {
  background: #065446;
  border: 0.125rem solid #fadcac;
}

.nav-links li a {
  text-decoration: none;
  color: black;
}

.nav-links li:hover a {
  text-decoration: none;
  color: #fadcac;
}

.sign-up {
  margin-right: 5%;
}

/* navbar left side */
.branding {
  width: 50%;
  display: flex;
}

.logo {
  height: auto;
  width: 8%;
  margin: auto 0 auto 5%;
}

.nav-title {
  margin: auto auto auto 1%;
  font-size: 2.5rem;
  color: #065446;
  /* -webkit-text-stroke-width: 0.8px;
-webkit-text-stroke-color: black; */
}

/* hamburger */
.hamburger-menu {
  width: 1rem;
  align-items: center;
  position: absolute;
  right: 22%;
  top: 40%;
}

.open #middle-line {
  transform: translateX(-50px);
  background: transparent;
}

.open #top-line {
  transform: rotate(45deg) translateX(-14%) translateY(14%);
  transform-origin: left;
  transition: 0.5s ease-out;
}

.open #bottom-line {
  transform: rotate(-45deg) translateX(-14%) translateY(-14%);
  transform-origin: left;
  transition: 0.5s ease-out;
}

/* nav-bar queries */
@media screen and (min-width:769px) {
  .hamburger-menu {
    display: none;
  }

  .navlinks-mask {
    display: none;
  }
}

@media screen and (max-width:769px) {
/* .back-home{
  background: transparent;
} */
  .navbar{
    background-color:rgba(6, 84, 70, 1);
  }
  .nav-title {
    display: none;
    color:#fadcac;
  }

  .logo {
    height: auto;
    width: 20%;
    margin: auto 0 auto 10%;
  }

  .nav-links {
    display: none;
  }

  .openPage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #158467;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    list-style: none;
    text-decoration: none;
    transition: 0.5s ease-out;
    z-index: 2;
  }

  .openPage li {
    text-align: center;
    text-decoration: none;
    list-style: none;
    width: 15%;
  }

  .openPage li a {
    text-decoration: none;
    color: #fadcac;
    font-size: 3rem;
    text-align: center;
  }

  .openPage li:hover a {
    text-decoration: none;
    color: #065446;
  }

  .log-in {
    margin: 50% auto 10% 35%;
    text-decoration: none;
  }

  .sign-up {
    margin: 5% auto auto 35%;
    text-decoration: none;
  }

  .hamburger-menu {
    width: 1rem;
    align-items: center;
    position: absolute;
    right: 10%;
    top: 35%;
    z-index: 3;
  }
}

/* home-page */
.home-page {
  background: transparent;
  height: 88vh;
  width: 100%;
  display: flex;
}

.tag-container {
  height: 100%;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagline {
  font-family: 'Josefin Sans';
  font-size: 5rem;
  width: 50%;
  margin-right: 10%;
  color: #065446;
  font-weight: bolder;
  mix-blend-mode: inherit;
  /* -webkit-text-stroke-width: 0.8px;
-webkit-text-stroke-color: black; */
  border-radius: 10%;
  /* background-color:  #065446; */
  animation: come-in 3s ease-in-out;
  filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
}
.tagline strong{
  text-decoration: underline #FF6242;
}

@keyframes come-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ca-container {
  height: 100%;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hpcar {
  width: 80%;
  background: transparent;
  margin: auto;
}

.ca-back {
  background:#B9966E;
  background-blend-mode: hard-light;
  width: 90%;
  justify-content: center;
  align-items: center;
  padding: 10%;
  margin-right: 3%;
  margin-left: 3%;
  box-shadow: -30px -30px 20px rgba(0, 0, 0, 0.5);
  border-radius:50% 20% / 10% 40%;
}

.cimg {
  width: 500px;
  height: 360px;
}
.carousel-item{
  width:100%;
  height:inherit;
}

.carousel-caption{
  color:#000;
  background:rgba(255, 255, 255, 0.5);
  width:100%;
  height: auto;
  position: absolute;
  bottom:0;
  left:0;
  font-size:1rem;
  text-align: center;
}

@media screen and (max-width:768px) {
  .home-page {
    flex-direction: column;
    /* background:#fadcac; */
    height: 100%;
  }

  .tag-container {
    width: 100%;
    height: 60vh;
    flex-direction: column;
  }
  .tagline{
    font-size: 3.5rem;
    margin: 0;
  }

  .ca-container {
    width: 100%;
    height: 80vh;
    flex-direction: column;
    height: 48vh;
    /* margin: 10% auto 20%; */
  }
  .ca-back{
    border-radius: 0;
    width:100%;
    box-shadow: none;
    margin:0;
    padding:0;
    background:transparent;
  }
  .carousel-item{
    width:inherit;
    height:inherit;
  }
  .carousel-caption{
    color:black;
  }
}
